<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owus.shop.mapper.mypage.info.InfoMapper">

    <select id="selectOne" resultType="com.owus.admin.domain.shop.member.ShopMemberVO">
        select s.*, m.id, m.name, m.email, m.phone, m.address, m.updatedate, m.delflag from tbl_shop s
        inner join tbl_member m on s.mno = m.mno
        where m.id = #{id}
    </select>

    <select id="selectListOfShop" resultType="com.owus.admin.domain.diver.member.TutorVO">
        select * from tbl_diver
        where smno = #{smno}
    </select>

    <select id="selectTutorList" resultType="com.owus.admin.domain.diver.member.TutorVO">
        SELECT  *  FROM tbl_diver
        where mno >0
        <include refid="search"></include>
        limit #{skip}, #{size}
    </select>

    <select id="selectFacilityList" resultType="com.owus.shop.domain.mypage.info.FacilityVO">
        select * from tbl_facility
    </select>

    <update id="update">
        update tbl_member
        set name = #{name}, email = #{email}, address=#{address}, phone =#{phone}
        where mno = #{mno}
    </update>

    <update id="updateTutor">
        update tbl_diver
        set smno = #{smno}
        where mno = #{mno}
    </update>

    <update id="updateTutorOfShop">
        update tbl_diver
        set smno = null
        where mno = #{mno}
    </update>

    <insert id="insertFacilityOfShop">
        insert tbl_facility_map (mno,fno)
        values (#{mno},#{fno})
    </insert>

    <select id="getTotal" resultType="int">
        select count(mno) from tbl_diver
        where mno >0
        <include refid="search"></include>
    </select>

    <delete id="deleteFacility">
        delete from tbl_facility_map
        where mno = #{mno} and fno = #{fno}
    </delete>

    <sql id="search">
        <if test="mtype != null">
            and gender = #{mtype}
        </if>
        <if test="keyword != null">
            <if test=' type == "n" '>
                and nickname like concat('%', #{keyword},'%')
            </if>
            <if test=' type == "o" '>
                and birthdate like concat('%',#{oldKeyword},'%')
            </if>
        </if>
    </sql>
</mapper>