<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.owus.admin.mapper.job.JobBoardMapper">

    <sql id="search">
        <where>
            bno > 0 AND delflag = 0
            <choose>
                <when test="category == 0">
                    AND (category = 1 or category = 2)
                </when>
                <otherwise>
                    AND category = #{category}
                </otherwise>
            </choose>

            <if test="keyword != null and types.length != 0">
                AND
                <foreach collection="types" item="item" separator="OR" open="(" close=")">

                    <if test='item == "t" '>
                        title like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "c" '>
                        content like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "w" '>
                        writer like concat('%', #{keyword}, '%')
                    </if>

                </foreach>
            </if>

        </where>
    </sql>



    <select id="selectList" resultType="com.owus.admin.domain.job.JobBoardVO">
        select bno, view_members_nickname.mno,view_members_nickname.nickname , title, content, category, regDate, updateDate, delflag
        from view_members_nickname
        left outer join tbl_job tj
        on view_members_nickname.mno = tj.mno

        <include refid="search"></include>

        order by bno desc
        limit #{skip}, #{size}

    </select>

    <select id="noticeList" resultType="com.owus.admin.domain.job.JobBoardVO">
        select bno, view_members_nickname.mno,view_members_nickname.nickname , title, content, category, regDate, updateDate, delflag
        from view_members_nickname
                 left outer join tbl_job tj
                                 on view_members_nickname.mno = tj.mno
        where bno > 0 AND (category = 3 and delflag = 0) order by bno desc
    </select>

    <select id="getTotal" resultType="int">
        select count(bno) from tbl_job
        <include refid="search"></include>
    </select>

    <select id="selectOne" resultType="com.owus.admin.domain.job.JobBoardVO">
        select bno, view_members_nickname.mno,view_members_nickname.nickname , title, content, category, regDate, updateDate, delflag
        from view_members_nickname
                 left outer join tbl_job tj
                                 on view_members_nickname.mno = tj.mno
        where bno > 0 AND bno = #{bno}
    </select>

    <update id="modify">
        update tbl_job set title = #{title},content=#{content}, updateDate=now() where bno = #{bno}
    </update>

<!--    <update id="noticeModify">-->
<!--        update tbl_job set title = #{title},content=#{content}, updateDate=now() where bno = #{bno}-->
<!--    </update>-->

    <update id="hideContent">
        update tbl_job set title=#{title}, content=#{content}, updatedate=now() , delflag = 1
        where bno = #{bno}
    </update>

    <insert id="insert">
        <selectKey resultType="int" keyProperty="bno" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into tbl_job(mno, title, content, category)
        values (#{mno} ,#{title}, #{content}, 3)
    </insert>

    <insert id="insertShop">
        <selectKey resultType="int" keyProperty="bno" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into tbl_job(mno, title, content, category)
        select v.mno, #{title}, #{content}, 2 from view_members_nickname v
        where v.mno = #{mno}
    </insert>

    <select id="selectFiles" resultType="com.owus.common.domain.AttachFileVO">
        select tjf.uuid , ta.filepath filepath, ta.filename filename
        from tbl_job_file tjf left join tbl_attach ta on tjf.uuid = ta.uuid
        WHERE bno = #{bno}
    </select>

</mapper>
